<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>
    <typeAliases>
        <typeAlias alias="Game" type="com.dailystudy.jogi_golf.domain.Game"/>
        <typeAlias alias="Player" type="com.dailystudy.jogi_golf.domain.Player"/>
        <typeAlias alias="GameResult" type="com.dailystudy.jogi_golf.domain.GameResult"/>
        <typeAlias alias="PlayerTotal" type="com.dailystudy.jogi_golf.domain.PlayerTotal"/>
    </typeAliases>
</configuration>
