<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.GameResultMapper">

    <insert id="insertGameId" parameterType="map" useGeneratedKeys="true" keyProperty="gameId">
        INSERT INTO games (game_date,game_fee)
        VALUES (#{gameDate},#{gameFee})
    </insert>

    <insert id="insertGame" parameterType="com.dailystudy.jogi_golf.domain.GameResult">
        INSERT INTO game_results (player_name, handicap, game_id)
        VALUES (#{playerName}, #{handicap}, #{gameId})
    </insert>

    <insert id="insertGameResult" parameterType="com.dailystudy.jogi_golf.domain.GameResult">
        INSERT INTO game_results (player_name, rank, calculated_amount, original_score, handicap, game_id)
        VALUES (#{playerName}, #{rank}, #{calculatedAmount}, #{originalScore}, #{handicap}, #{gameId})
    </insert>

    <update id="updateGameResult" parameterType="com.dailystudy.jogi_golf.domain.GameResult">
        UPDATE game_results
        SET rank=#{rank}, calculated_amount=#{calculatedAmount}, original_score=#{originalScore}
        Where id = #{resultId}
    </update>

    <select id="selectGameResultsByDate" resultType="com.dailystudy.jogi_golf.domain.GameResult">
        SELECT gr.id as resultId, gr.player_name as playerName, gr.rank, gr.calculated_amount as calculatedAmount,
               gr.original_score as originalScore, gr.handicap as handicap,g.game_id as gameId
        FROM game_results gr
                 INNER JOIN games g ON gr.game_id = g.game_id
        WHERE g.game_date = #{gameDate}
        ORDER BY gr.rank ASC
    </select>

    <select id="selectPlayerTotals" resultType="com.dailystudy.jogi_golf.domain.PlayerTotal">
        SELECT player_name AS playerName,
               SUM(calculated_amount) AS totalAmount,
               COUNT(*) AS participationCount
        FROM game_results
        WHERE `rank`>0
        GROUP BY player_name
        ORDER BY totalAmount DESC
    </select>

    <delete id="deleteGameResult" parameterType="String">
        DELETE FROM game_results WHERE id = #{resultId}
    </delete>

    <select id="findAllSavedDates" resultType="String">
        SELECT DISTINCT g.game_date
        FROM games g
                 INNER JOIN game_results gr ON g.game_id = gr.game_id
    </select>

</mapper>
