<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.GameMapper">
    <insert id="insertGame" parameterType="Game">
        INSERT INTO games (game_date, description)
        VALUES (#{gameDate}, #{description});
    </insert>

    <select id="getAllGames" resultType="Game">
        SELECT game_id, game_date, game_fee FROM games;
    </select>

    <select id="getGameById" parameterType="int" resultType="Game">
        SELECT * FROM games WHERE game_id = #{gameId};
    </select>
</mapper>
