<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.GameResultMapper">
    <insert id="insertGameResult" parameterType="GameResult">
        INSERT INTO game_results (game_id, player_name, original_score, today_score, handicap, rank, calculated_amount)
        VALUES (#{gameId}, #{playerName}, #{originalScore}, #{todayScore}, #{handicap}, #{rank}, #{calculatedAmount});
    </insert>

    <select id="getGameResultsByGameId" parameterType="int" resultType="GameResult">
        SELECT * FROM game_results WHERE game_id = #{gameId};
    </select>

    <update id="updateGameResult" parameterType="GameResult">
        UPDATE game_results
        SET original_score = #{originalScore}, today_score = #{todayScore}, handicap = #{handicap}, rank = #{rank}, calculated_amount = #{calculatedAmount}
        WHERE result_id = #{resultId};
    </update>
</mapper>
