<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.PlayerMapper">
    <insert id="insertPlayer" parameterType="Player">
        INSERT INTO players (player_name, handicap)
        VALUES (#{playerName}, #{handicap});
    </insert>

    <select id="getPlayersByGameId" parameterType="int" resultType="Player">
        SELECT * FROM players WHERE game_id = #{gameId};
    </select>

    <update id="updatePlayer" parameterType="Player">
        UPDATE players
        SET player_name = #{playerName}, handicap = #{handicap}
        WHERE player_id = #{id};
    </update>

    <select id="getPlayerByName" parameterType="String" resultType="Player">
        SELECT * FROM players WHERE player_name = #{playerName};
    </select>
</mapper>
