<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.PlayerMapper">
    <select id="getHandicapByPlayerName" resultType="Integer">
        SELECT handicap FROM players WHERE player_name = #{playerName}
    </select>

    <update id="updateHandicap">
        UPDATE players
        SET handicap = #{handicap}
        WHERE player_name = #{playerName}
    </update>

    <insert id="insertHandicap">
        INSERT INTO players (player_name, handicap)
        VALUES (#{playerName}, #{handicap})
    </insert>

    <insert id="insertPlayer">
        INSERT INTO game_results (game_id, player_name, handicap) VALUES (#{gameId}, #{playerName}, #{handicap})
    </insert>
</mapper>
