<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.jogi_golf.mapper.PlayerMapper">

    <resultMap id="playerResultMap" type="com.dailystudy.jogi_golf.domain.Player">
        <result column="player_name" property="playerName"/>
        <result column="handicap" property="handicap"/>
    </resultMap>

    <select id="getHandicapByPlayerName" resultType="Integer">
        SELECT handicap FROM players WHERE player_name = #{playerName}
    </select>

    <update id="updateHandicap">
        UPDATE players
        SET handicap = #{handicap}
        WHERE player_name = #{playerName}
    </update>

    <insert id="insertPlayer">
        INSERT INTO players (player_name, handicap)
        VALUES (#{playerName}, #{handicap})
    </insert>

    <select id="findPlayersByName" resultMap="playerResultMap">
        SELECT player_name, handicap
        FROM players
        WHERE player_name LIKE CONCAT('%', #{playerName}, '%')
    </select>
</mapper>
